$border-radius-base:    0.5rem; // 8px
$border-radius-xl:      $border-radius-base * 4; // 32px
$border-radius-lg:      $border-radius-base * 2; // 16px
$border-radius-sm:      $border-radius-base * 0.75; // 6px
$border-radius-xs:      $border-radius-base * 0.5; // 4px

$card-border-radius:    $border-radius-base;