@mixin create-row($space: $gutter) {
    margin-right: $space * -1;
    margin-left: $space * -1;
    & > .col {
        padding-right: $space;
        padding-left: $space;
    }
}

@mixin create-col($size: auto, $columns: $cols-count) {
    @if $size == auto {
        flex: 1 1 0;
        max-width: 100%;
    } @else {
        flex: 0 0 auto;
        width: ($size * 100) / $columns * 1%;
    }
}
