body,
.snackbar,
input {
    font-family: $font-family;
    font-weight: $font-weight-normal;
}

small,
.small {
    font-size: 80%;
}

strong,
.bold {
    font-weight: $font-weight-bold;
}

a {
    text-decoration: none;
    transition: color 200ms ease-in-out;
    color: $black;
    &:hover {
        color: $secondary;
    }
}